* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 1.1111111vw;
  height: 100%;
}

body {
  font-size: 0.875rem;
  font-family: "Poppins", sans-serif;
  height: -webkit-fill-available;
}

#root {
  height: -webkit-fill-available;
}

.App {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
